option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ENVIRONMENT: "production"
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:REGION:ACCOUNT_ID:certificate/CERTIFICATE_ID
    SSLPolicy: ELBSecurityPolicy-2016-08
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
